<ion-view view-title="{{ 'SYNCRONISATION' | translate }}">

  <ion-content class="backgroundcorps">


		<div class="profil">
          <img class="image" src="img/logo.png">
           <center><p class="texte">{{userconnecte.username}}</p></center>
       </div>
        
	   <div class="dateheuree">
	     
	     Bonjour Monsieur {{userconnecte.username}} la synchronisations de vos données est en cours et nous vous prions de bien vouloir patienter car cet opération peut prendre plus de deux minutes.

	  </div>
	  
		<div style="height:75px;"></div>
  </ion-content>
  
</ion-view>